html,body {
	height: 100%;
    overflow: hidden;
}
.affix-content .container .page-header {
    margin-top: 0;
}
.navbar-default {
	background-color:#FFF;
}
.sidebar-nav {
	 position:fixed; 
	 width:62px;
	 height:100%;
	 background-color:#FFF;
	 border-right:2px solid #E1E3EA;
}
.affix-sidebar {
	padding-right:0; 
	font-size:small;
	padding-left: 0;
}  
.affix-row, .affix-container, .affix-content {
	height: 100%;
	margin-left: 0;
	margin-right: 0;    
} 
.affix-content {
	background-color:#F3F3F3;
} 
.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}
.sidebar-nav .navbar {
	border-radius:0; 
	margin-bottom:0; 
	border:0;
}
.sidebar-nav ul {
	list-style-type: none;
	width:100%;
	padding:0px;
	height:100vh;
}
.sidebar-nav ul li {
	width:100%;
	height:64px;
	position: relative;
}
.sidebar-nav ul li span {
	width:30px;
	height:30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin:0;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.sidebar-nav ul li.active {
	border-top:2px solid #E1E3EA;
	border-bottom:2px solid #E1E3EA;
	background-color:#FCFCFC;
	border-right:none;
	width:103%;
}
.sidebar-nav ul li.no-top {
	border-top:none!important;
}

.sidebar-nav ul li.nightmode {
	position: absolute;
	bottom:10px;
	border:none!important;
	background-color:#FFF!important;
	width:100%!important;
}

.sidebar-nav ul li span.nightmodeIcon {
	width:22px;
	height:22px;
}
/* Hide vertical sidebar on mobile */
@media screen and (max-width: 767px) {
	.sidebar-nav {
		display:none;
	}
}
/* Show mobile incoming page */
@media screen and (max-width: 767px) {
	.mobile-intro {
		width:100%;
		height:100vh;
		position: absolute;
		background-color:rgba(15,38,62,0.86);
		opacity: 1;
		visibility: visible;
	}
	.publicatie {
		width:100%;
		padding:0;
		margin:0;
		height:100vh;
		background-image:url('../images/MobileCover.png');
		background-size:cover;
		background-position: top center;
	}
	.mobile-intro.fade {
		opacity:0;
		visibility: hidden;
	}
}